main{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    margin:67px auto 117px auto;
    align-items: center;
}
main>h2{
    height: 100px;
    font-size: 24px;
    color:#293845;
    display: flex;
    align-items: center;
    justify-content: center;
}

